body{
    background-color: rgb(0, 0, 0);
    color: white;
}
.navbar{
    background-color: rgb(131, 27, 27);
    color: rgb(168, 164, 164);
    margin-bottom: 10px;
}
.movienamecontainer {
    background-color: black; /* Background color */
    border: 1px solid #f5deb3; /* Border with solid wheat color */
    border-radius: 8px;
    box-shadow: -2px 2px 10px #f5deb3;
}
.card {
    width: 290px;
    height: 699px;
    background-color: black; /* Default background color */
    border-radius: 15px;
    transition: background-color 1s;
    color: white;
}

.card:hover {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%); /* Hover background gradient */
}

.card2 {
    width: 290px;
    height: 699px;
    background-color: #1a1a1a;
    border-radius: 0;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}